mixin colors__item(title, code, classname)
  .color&attributes(attributes)
    div(class="sample sample_" + classname)
    .color__info
      .color__name(class="h2")= title
      .color__code(class="body")= code