extends /pug/layout.pug

block meta
  title Form elements
  meta(name='description' content='')

block main
  .content__ui-kit.ui-kit
    //- text fields
    .ui-kit__group-1.group-1
      div.form-control
        label(for='email') 
          .form-control__label.label
            .label__name Text Field
            .label__type Default
          input#email.form-control(type='text' placeholder='E-mail' name='email')

    //- checkbox, radio, toggle, like, rate btns
    .ui-kit__group-2.group-2 checkbox buttons

    //- range slider, buttons, paginator
    .ui-kit__group-3.group-3
      .group-3__range-slider.range-slider
        input(type="text" class="js-range-values" value="100" disabled)
        input(type="text" class="js-range-slider" name="my_range" value="" width="120")
