extends /pug/layout.pug

include /blocks/slider/slider.pug
include /blocks/text-field/text-field.pug

block meta
  title Form elements
  meta(name="description", content="")

block main
  .content__ui-kit.ui-kit
    //- text fields
    .ui-kit__group-1
      +text-field("email", "Email", "", "Text field", "Default").ui-kit__form-control
      +text-field("email", "", "This is pretty awesome", "Text field", "Hover / Focus").ui-kit__form-control

    //- checkbox, radio, toggle, like, rate btns
    .ui-kit__group-2 checkbox buttons

    //- range slider, buttons, paginator
    .ui-kit__group-3
      +slider("Range slider").ui-kit__slider
