extends /pug/layout.pug

block meta
  include /blocks/header-ui/header-ui
  include /blocks/colors/colors
  include /blocks/types/types
  title Colors & Type
  meta(name='description' content='')

block header
  +header-ui(class="header__logo-ui")

block main 
  - data = htmlWebpackPlugin.options.getData()

  .main__ui-kit.ui-kit
    +colors(data.colors)(class="ui-kit__colors")
    +types(data.types)(class="ui-kit__types")