@import '_/scss/variables';

.header {
  &__logo-ui {
    padding: 30px;
  }
}

.main {
  max-width: 1099px;

  &__ui-kit {
    padding-top: 37px;
  }
}

.ui-kit {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-items: flex-start;

  &__colors {
    margin-top: 0px;
  }

  &__types {
    margin-top: 0px;
  }
}
